
.btnContainer{
    grid-column: 3 / span 1 ;
    grid-row: 3 / span 1 ;
    display: flex;
    flex-direction: column;
}

.edit {
    background-color: rgba(252, 194, 5, 0.336);
}

.listArea{
    display: flex;
    gap: 5px;
}

.listTab {
    background-color: aqua;
}

.tdContainer {
    display: grid;
    background-color: blueviolet;
}

.tdDescription {
    grid-column: 1 / span 2 ;
    grid-row: 3 / span 1 ;
    font-weight: lighter;
    font-size: 1rem;
}

.tdDueDate {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1 ;
}

.tdList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.tdPriority {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.tdTitle {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2 ;
}

.trash {
    background-color: rgba(255, 0, 0, 0.363);
}